/*outside fonts from google*/
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto&family=Ubuntu:ital,wght@0,400;1,300&display=swap");

html, body, .wrapper{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Calligraffitti' serif;
}

@media only screen and (max-width: 800px) {
  html {
    height: auto;
    min-height:100vh;
  }
  input {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 550px) {
  html {
    height:auto;
    min-height: 100vh;
  }
  input {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 450px) {
  html {
    height:auto;
    min-height: 100vh;
  }
  input {
    padding: 0;
    margin: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  height: 100%;
  width: 40%;
  background-image: url('jellyFish.jpg');
  background-size: cover;
  justify-content: center;
}

section {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20%;
  justify-content: center;
  height: 20%;
  width: 100%;
  font-size: 6vw;
  font-weight: 600;
  padding: 2%;
  color: white;
  background-color: rgb(201, 235, 230, 0.2); 
}

section>p {
  align-self: center;
  padding-left: 5%;
}

.right {
  display: flex;
  height: 100vh;
  width: 60%;
  flex-direction: column;
  background-color: rgb(201, 235, 230);
}

article {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding-left: 5%;
  padding-top: 10%;
  padding-right: 5%;
}
.wrap2 {
  font-family: 'Roboto', sans-serif;
}

.box1 {
  font-size: 28px;
  font-weight: 600;
  padding-top: 2%;
  color: rgb(35, 35, 90);
}

.box2, .box3, .box4 {
  display: flex;
  gap: 20%;
  padding-top: 2%;
  font-size: smaller;
}

.name1, .name2, .email, .number, .password, .confirm
  {
  display: flex;
  flex-direction: column;
  color: rgb(35, 35, 90);
}

.submit {
  display: flex;
  width: fit-content;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 10%;
  background-color: rgb(35, 35, 90);
  color: white;
  font-weight: 900;
  font-size: large;
  margin-top: 5%;
  margin-bottom: 2%;
}

.box5 {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  font-weight: 500;
  font-size: large;
}

.shadow {
  padding-left: 5%;
  padding-bottom: 5%;
  background-color: white !important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input {
  width: 100%;
  padding: 3% 10%;
  margin: 2%;
}

/*psuedo classes*/

input:invalid {
  border: 2px solid red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:active {
  border: 2px solid rgb(154, 250, 135) !important;
}

input:focus:invalid {
  border: none;
}